@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  cursor: url("./assets/images/cursor.png"), pointer;
}

#bg-image {
  background: url("./assets/images/cloudwalkers2.jpg");
}

#headerlogo img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  padding-top: 10px;
  animation-delay: 10s;
  cursor: url("./assets/images/cursor.png"), pointer;
}

#start {
  position: absolute;
  z-index: 10000;
  border: 0;
  width: 300px;
  height: 100px;
  font-family: "Equinox";
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  cursor: url("./assets/images/cursor.png"), pointer;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 4px 6px 6px #f40303;
  box-shadow: inset 0 0 5px #03e9f4, inset 0 0 25px #03e9f4,
    inset 0 0 50px #03e9f4, 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  border-radius: 100px;
}

#start:hover {
  background-color: #03e9f4;
  color: black;
  text-shadow: none;
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  50% {
    top: 48.5%;
  }
}

#game,
#headerlogo {
  display: none;
}

#intro {
  opacity: 0;
}

#intro {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  cursor: url("./assets/images/cursor.png"), pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
}

#introtext {
  z-index: 1000;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  text-align-last: center;
  width: 50%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 2em;
  line-height: 1.1em;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  opacity: 1;
  transition: all 1s;
}

#beyond-mortal {
  font-family: Equinox;
  font-size: 3em;
  line-height: 0.75em;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 4px 6px 6px #f40303;
}

#introtext.hide {
  opacity: 0;
}

#visualchapternav {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  display: none;
}

#menuimage {
  display: none;
  background-image: url("./assets/covers/book1transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#visualchapterlist {
  position: absolute;
  left: 62.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#visualchapterlist::-webkit-scrollbar {
  display: none;
}

.visualchapter {
  text-align: center;
  width: 300px;
  height: 200px;
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.8s ease, border 0s;
  -moz-transition: all 0.8s ease, border 0s;
  -ms-transition: all 0.8s ease, border 0s;
  -o-transition: all 0.8s ease, border 0s;
  transition: all 0.8s ease, border 0s;
  cursor: url("./assets/images/cursor.png"), pointer;
}

.visualchapter h1 {
  font-family: "Equinox";
}

.released:hover {
  background-color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: black;
}

.visualchapter:hover h1 {
  color: black !important;
  transition: all 0.8s ease, border 0s;
}

.unreleased h1 {
  color: black;
}

.unreleased p {
  color: #747474;
}

#game {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  cursor: url("./assets/images/cursor.png"), pointer;
  transition-duration: 1s;
}

#gamebox {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/elements/game-assets/chapter-1/nameless_colony_skyline.jpg");
  background-size: cover;
  background-position: center;
  cursor: url("./assets/images/cursor.png"), pointer;
}

#gamecontrols {
  height: 25%;
  width: 100%;
  position: relative;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
}

#gametext {
  font-family: "Montserrat";
  font-weight: 300;
  color: #03e9f4;
  font-size: 1.5em;
  line-height: 1em;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 120px;
  text-align: justify;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#gamebuttons {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
}

.gamebutton {
  background: none;
  border: 0px solid #03e9f4;
  width: 24%;
  height: 40px;
  font-family: "Equinox";
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  padding: 5px;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  cursor: url("./assets/images/cursor.png"), pointer;
}

.gamebutton:hover {
  color: white;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
}

#blinker {
  display: inline-block;
  animation: blinker 1s linear infinite;
  width: 7px;
  height: 1em;
  background-color: #03e9f4;
  opacity: 0.5;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

footer {
  display: none;
}

header {
  display: none;
}
