@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  cursor: url("./assets/images/cursor.png"), pointer;
}

#bg-image {
  background: url("./assets/images/cloudwalkers2.jpg");
}

#orientation-warning {
  display: none;
}

#headerlogo img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  padding-top: 10px;
  cursor: url("./assets/images/cursor.png"), pointer;
}

#start {
  position: absolute;
  z-index: 10000;
  border: 0;
  width: 300px;
  height: 100px;
  font-family: "Equinox";
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  cursor: url("./assets/images/cursor.png"), pointer;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 4px 6px 6px #f40303;
  box-shadow: inset 0 0 5px #03e9f4, inset 0 0 25px #03e9f4,
    inset 0 0 50px #03e9f4, 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  border-radius: 100px;
}

#start:hover {
  background-color: #03e9f4;
  color: black;
  text-shadow: none;
  animation: bounce 1.5s ease-in-out infinite;
}

#popup {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  width: 30vw;
  height: 25vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  overflow: hidden;
  z-index: 10000;
  padding: 3em;
  box-shadow: 0px 0px 24px 3px #000000;
}

#popup p {
  margin-bottom: 10px;
  text-align: justify;
}

#popup h1 {
  text-align: center;
  margin-top: 0;
}

#popup button {
  background-color: #03e9f4;
  color: black;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
  border: none;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
  width: 20%;
  height: 30px;
  font-family: "Equinox";
  text-transform: uppercase;
}

#popup button:hover {
  background-color: black;
  color: #03e9f4;
  border: 2px solid #03e9f4;
}

#popup span {
  position: absolute;
  display: block;
}

#popup span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 5s linear infinite;
}

#popup span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 5s linear infinite;
  animation-delay: 1.25s;
}

#popup span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 5s linear infinite;
  animation-delay: 2.5s;
}

#popup span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 5s linear infinite;
  animation-delay: 3.75s;
}

#install-game,
#install-instructions {
  position: absolute;
  z-index: 10000;
  border: 0;
  width: 300px;
  height: 100px;
  font-family: "Equinox";
  font-size: 1em;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: none;
  border: none;
  background: none;
  cursor: url("./assets/images/cursor.png"), pointer;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 4px 6px 6px #f40303;
  border-radius: 100px;
}

#install-instructions {
  height: 10px;
}

#install-game {
  display: none;
}

#install-game:hover,
#install-instructions:hover {
  color: black;
  text-shadow: none;
}

@keyframes bounce {
  50% {
    top: 48.5%;
  }
}

#game,
#headerlogo {
  display: none;
}

#intro {
  opacity: 0;
}

#intro {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  cursor: url("./assets/images/cursor.png"), pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
}

#main-menu {
  display: none;
  position: absolute;
  left: 67.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

#back-to-menu {
  display: none;
  width: 100%;
  border: none;
  background: none;
  font-family: "Equinox";
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  height: 40px;
  margin-bottom: 25px;
  font-size: 0.85em;
  position: absolute;
  left: 67.5%;
  top: 90%;
  transform: translate(-50%, -50%);
}

#back-to-menu::after {
  margin-left: 10px;
  content: "Back to main menu";
}

.menu-button {
  width: 100%;
  border: none;
  background: none;
  font-family: "Equinox";
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  height: 40px;
  margin-bottom: 25px;
  font-size: 2em;
}

.menu-button a {
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  height: 40px;
}

.menu-button:hover {
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  animation: neon 2s linear 1;
}

.menu-button a:hover {
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#introtext {
  z-index: 1000;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  text-align-last: center;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 2em;
  line-height: 1.1em;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  opacity: 1;
  transition: all 1s;
}

#beyond-mortal {
  font-family: "Equinox";
  font-size: 3em;
  line-height: 0.75em;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 4px 6px 6px #f40303;
}

#skipintro {
  color: #03e9f4;
  background: none;
  border: none;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  position: absolute;
  bottom: 0%;
  right: 0%;
  font-size: 2em;
  height: 50px;
  width: 50px;
}

#introtext.hide {
  opacity: 0;
}

#visualchapternav {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  display: none;
}

#menuimage {
  display: none;
  background-image: url("./assets/covers/book1transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#visualchapterlist {
  position: absolute;
  left: 67.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#visualchapterlist::-webkit-scrollbar {
  display: none;
}

.visualchapter {
  text-align: center;
  width: 200px;
  height: 10em;
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.8s ease, border 0s;
  -moz-transition: all 0.8s ease, border 0s;
  -ms-transition: all 0.8s ease, border 0s;
  -o-transition: all 0.8s ease, border 0s;
  transition: all 0.8s ease, border 0s;
  cursor: url("./assets/images/cursor.png"), pointer;
}

.visualchapter h1 {
  font-family: "Equinox";
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 10%;
}

.visualchapter p {
  margin-top: 0;
  padding-bottom: 10%;
  font-size: 1em;
}

.released:hover {
  background-color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: black;
}

.visualchapter:hover h1 {
  color: black !important;
  transition: all 0.8s ease, border 0s;
}

.unreleased h1 {
  color: black;
}

.unreleased p {
  color: #747474;
}

#game-loader {
  display: none;
  position: absolute;
  left: 67.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
}

#game-loader input[type="file"] {
  display: none;
}

#delete-stored-saves {
  margin-top: 25px;
}

#successful-upload,
#successful-delete {
  font-family: "Montserrat";
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75em;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
}

#delete-stored-saves {
  margin-bottom: 0;
  padding-bottom: 0;
}

#continue {
  display: none;
}

#game {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  cursor: url("./assets/images/cursor.png"), pointer;
  transition-duration: 1s;
}

#game-ui-buttons {
  display: block;
}

#save-game {
  background: none;
  border: none;
  position: absolute;
  right: 1%;
  top: 4%;
  transform: translate(92.5%, 0%);
  z-index: 10001;
  font-family: "Montserrat";
  font-weight: 300;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  font-size: 2em;
}

#save-game::after {
  position: relative;
  display: inline-block;
  right: 100%;
  bottom: 70%;
  transform: translateY(-30%);
  margin-right: 15px;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  content: "Download your current game progress.";
  transition-duration: 1s;
}

#save-game:hover::after {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

#exit-game {
  background: none;
  border: none;
  position: absolute;
  right: 1.75%;
  top: 0%;
  transform: translate(92.5%, 0%);
  z-index: 10001;
  font-family: "Montserrat";
  font-weight: 300;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  font-size: 2em;
}

#exit-game::after {
  position: relative;
  display: inline-block;
  right: 100%;
  bottom: 70%;
  transform: translateY(-30%);
  margin-right: 15px;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  content: "Exit to main menu.";
  transition-duration: 1s;
}

#exit-game:hover::after {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

#achievements-container {
  display: none;
  height: 75vh;
  width: 40%;
  position: absolute;
  left: 67.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding-right: 25px;
  scrollbar-color: #03e9f4 #353535;
  scrollbar-width: thin;
}

#achievements-container h1,
p {
  padding: 0;
  margin: 0;
}

#achievements-container img {
  float: left;
  width: 75px;
  margin-right: 10px;
}

#achievements-container h1 {
  font-size: 1.85em;
  font-family: "Orbitron";
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 4px 4px 3px #f40303;
}

#achievements-container p {
  font-size: 1em;
  margin-top: 5px;
}

.achievement-box {
  margin-bottom: 20px;
  height: 100px;
}

#gamebox {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/elements/game-assets/chapter-1/nameless_colony_skyline.jpg");
  background-size: cover;
  background-position: center;
  cursor: url("./assets/images/cursor.png"), pointer;
}

#gamecontrols {
  height: 22.5%;
  width: 100%;
  position: relative;
  top: 77.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
}

#gametext {
  font-family: "Montserrat";
  font-weight: 300;
  color: #03e9f4;
  font-size: 1.25em;
  line-height: 1em;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 3em;
  text-align: justify;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#gamebuttons {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.gamebutton {
  background: none;
  border: 0px solid #03e9f4;
  width: 24%;
  height: 40px;
  font-family: "Equinox";
  text-transform: capitalize;
  font-size: 1.25em;
  font-weight: 300;
  text-decoration: none;
  padding: 5px;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
  cursor: url("./assets/images/cursor.png"), pointer;
}

.gamebutton:hover {
  color: white;
  text-shadow: 0 0 5px #03e9f4, 3px 3px 3px #f40303;
}

#blinker {
  display: inline-block;
  animation: blinker 1s linear infinite;
  width: 7px;
  height: 1em;
  background-color: #03e9f4;
  opacity: 0.5;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

footer {
  display: none;
}

header {
  display: none;
}

@media screen and (max-width: 915px) {
  #game {
    position: sticky;
  }

  #introtext {
    font-size: 1em;
  }

  .menu-button {
    font-size: 1em;
    margin: 0;
  }

  #bg-image {
    background-size: cover;
  }

  #back-to-menu {
    margin-bottom: 0;
    font-size: 0.85em;
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: translate(25%, 10%);
  }

  #visualchapterlist {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
    margin: 5vh;
    margin-bottom: 7.5vh;
  }

  .visualchapter {
    height: 20vh;
    width: 100%;
  }

  .visualchapter h1 {
    font-size: 1em;
    margin-top: 5px;
  }

  .visualchapter p {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  #gamecontrols {
    top: 70%;
    height: 30%;
  }

  #gametext {
    font-size: 0.75em;
    padding: 20px;
  }

  #gamebuttons {
    font-size: 0.85em;
    bottom: 0;
  }

  .gamebutton {
    font-size: 0.75em;
  }

  #save-game {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 1280px) {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default !important;
  }

  :focus {
    outline: none !important;
  }

  #popup {
    width: 60%;
    height: auto;
    padding: 1em;
  }

  #popup h1 {
    font-size: 1em;
  }

  #popup p {
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: 10px;
  }

  #popup button {
    margin-top: 0;
  }

  #start {
    top: 50%;
  }

  #start:hover {
    animation: none;
  }

  #achievements-container h1 {
    font-size: 1em;
  }

  #achievements-container p {
    font-size: 0.7em;
  }

  #achievements-container img {
    width: 50px;
  }

  .achievement-box {
    height: 50px;
    margin-bottom: 5px;
  }

  #install-game,
  #install-instructions {
    top: 70%;
  }

  #back-to-menu {
    margin-bottom: 0;
    font-size: 0.85em;
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: translate(25%, 10%);
  }

  #bg-image {
    background-size: cover;
  }

  .gamebutton {
    font-size: 1em;
  }

  #save-game {
    top: 1.2em;
    right: 0%;
  }

  #exit-game {
    font-size: 1.2em;
  }
}

@keyframes neon {
  0%,
  49% {
    text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
  50% {
    text-shadow: none;
    background: none;
  }
  55%,
  74% {
    text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
  75% {
    text-shadow: none;
    background: none;
  }
  76%,
  100% {
    text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
}

@media (orientation: portrait) {
  #orientation-warning {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media (display-mode: standalone) {
    #install-instructions {
      display: none;
    }
  }

  #orientation-warning h1 {
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
  }
}
