@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: grey;
  color: white;
  font-family: "Montserrat";
  max-width: 100%;
  margin: 0;
}

#bg-image {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: -1;
  background: url("cloudwalkers.jpg");
  background-position: top;
  background-size: cover;
  filter: blur(2px);
}

/* Popup Starts */

#popup {
  background: rgba(0, 0, 0, 0.9);
  width: 40vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  overflow: hidden;
  z-index: 10000;
}

.border-animation {
  position: relative;
  transition: 0.5s;
}

#popup span {
  position: absolute;
  display: block;
}

#popup span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 5s linear infinite;
}

#popup span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 5s linear infinite;
  animation-delay: 1.25s;
}

#popup span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 5s linear infinite;
  animation-delay: 2.5s;
}

#popup span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 5s linear infinite;
  animation-delay: 3.75s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#spoiler {
  padding: 10px;
}

#spoiler i {
  font-weight: 900;
}

#spoiler h1,
#newsletter h1,
#cookies h1 {
  text-align: center;
  text-transform: uppercase;
  color: #03e9f4;
  text-shadow: 4px 4px 4px #f40303;
}

#cookies {
  text-align: center;
}

#spoiler p,
#cookies p {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

#newsletter {
  text-align: center;
}

#newsletter input[type="email"] {
  background: none;
  border: 1px solid grey;
  width: 50%;
  height: 21px;
}

#sub,
#cookieAccept,
#cookieDecline {
  background: transparent;
  border: 1px solid grey;
  height: 25px;
  color: white;
  font-family: "Montserrat";
  text-transform: lowercase;
}

#sub:hover {
  background-color: #03e9f4;
  color: black;
}

#cookieAccept {
  background-color: #03e9f4;
  color: black;
}

/* Popup Ends */
/* Landing Page Begins */

#sidemenu {
  background: black;
}

#sidemenu-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidemenu-ul li a {
  text-decoration: none;
}

#sidemenu-title {
  position: fixed;
  right: 0%;
  top: 40%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background: black;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  height: 30%;
  color: #03e9f4;
  text-shadow: -2px -2px 2px #f40303;
  cursor: pointer;
}

#sidemenu-content {
  display: none;
  position: fixed;
  right: 4%;
  top: 40%;
  text-align: right;
  background: rgba(0, 0, 0, 0.75);
  height: 30%;
  width: 8%;
  padding: 20px;
  box-shadow: 5px 0px 0px #03e9f4;
}

.sidemenu-item {
  padding: 13px;
  text-transform: uppercase;
  cursor: pointer;
}

.sidemenu-item:hover {
  background: #03e9f4;
  color: black;
  font-weight: 900;
  animation: neon 2s linear infinite;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#sidemenu-ul li.active {
  background: #03e9f4;
  font-weight: 900;
  color: black;
  animation: neon 2s linear infinite;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#sidemenu-ul li a {
  color: #03e9f4;
}

#sidemenu-ul li.active a {
  color: black;
}

/* Header Starts */

header {
  background: rgba(0, 0, 0, 0.75);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

header img {
  width: 25%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}

header ul li {
  display: block;
  float: right;
  padding-right: 15px;
  padding-top: 25px;
}

header a {
  font-family: "Orbitron";
  text-decoration: none;
  color: #03e9f4;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 5px;
}

header a:hover {
  background: #03e9f4;
  color: black;
  padding: 15px;
  animation: neon 2s linear infinite;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

@keyframes neon {
  0%,
  49% {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    background: #03e9f4;
  }
  50% {
    box-shadow: none;
    background: none;
  }
  55%,
  74% {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    background: #03e9f4;
  }
  75% {
    box-shadow: none;
    background: none;
  }
  76%,
  100% {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    background: #03e9f4;
  }
}

/* Landing Page */

.landing-section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  max-width: 100%;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
  background: rgba(0, 0, 0, 0.75);
  width: 30%;
  position: relative;
  top: 30%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 40px;
}

#section1 {
  right: 20%;
}

#landing-page h1 {
  text-transform: uppercase;
  text-align: center;
}

#landing-page p {
  text-align: justify;
  text-align-last: center;
  hyphens: auto;
}

#section2 {
  left: 20%;
}

/* Chapters Nav */

#chapternav {
  display: inline-block;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

#chapterlist {
  position: relative;
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#chapterlist::-webkit-scrollbar {
  display: none;
}

#chapterlist span {
  position: absolute;
  display: block;
}

#chapterlist span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 5s linear infinite;
}

#chapterlist span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 5s linear infinite;
  animation-delay: 1.25s;
}

#chapterlist span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 5s linear infinite;
  animation-delay: 2.5s;
}

#chapterlist span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 5s linear infinite;
  animation-delay: 3.75s;
}

.chapter {
  text-align: center;
  width: 300px;
  height: 300px;
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.8s ease, border 0s;
  -moz-transition: all 0.8s ease, border 0s;
  -ms-transition: all 0.8s ease, border 0s;
  -o-transition: all 0.8s ease, border 0s;
  transition: all 0.8s ease, border 0s;
  cursor: pointer;
}

.chapter:hover {
  background-color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: black;
}

.active-chapter {
  background-color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: black;
}

.chaptertext {
  margin: 0;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chaptertext h1 {
  text-transform: uppercase;
  font-family: "Orbitron";
}

.chaptertext p {
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: 300;
}

/* Chapter Text Divs */

.fullchapter {
  margin: 200px;
  margin-top: 120px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.75);
  width: calc(100vw - 350px);
  display: none;
}

.fullchapter h1,
.fullchapter h2 {
  text-align: center;
  padding: 10px;
  color: white;
}

.fullchapter h1 {
  font-family: "Orbitron";
  text-transform: uppercase;
}

.fullchapter h2 {
  font-family: "Montserrat";
  font-weight: 300;
  text-transform: lowercase;
}

.fullchapter p {
  font-family: "Montserrat";
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 30px;
  padding-bottom: 0;
}
