@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
@font-face {
  font-family: "Equinox";
  src: url(./assets/equinox/Equinox-Bold.otf);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: grey;
  color: white;
  font-family: "Montserrat";
  max-width: 100%;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 3px 3px 3px #f40303;
}

a {
  text-decoration: none;
}

#bg-image {
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  z-index: -1;
  background: url("./assets/images/cloudwalkers.jpg");
  background-position: top;
  background-size: cover;
  filter: blur(5px);
}

/* Popup Starts */

#popup {
  background: rgba(0, 0, 0, 0.9);
  width: 40vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  overflow: hidden;
  z-index: 10000;
}

.border-animation {
  position: relative;
  transition: 0.5s;
}

#popup span {
  position: absolute;
  display: block;
}

#popup span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 5s linear infinite;
}

#popup span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 5s linear infinite;
  animation-delay: 1.25s;
}

#popup span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 5s linear infinite;
  animation-delay: 2.5s;
}

#popup span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 5s linear infinite;
  animation-delay: 3.75s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#spoiler i {
  font-weight: 900;
}

#spoiler h1,
#newsletter h1,
#cookies h1 {
  text-align: center;
  text-transform: uppercase;
  color: #03e9f4;
  text-shadow: 4px 4px 4px #f40303;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    3px 3px 3px #f40303;
  margin-top: 0;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

#spoiler {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#spoiler p,
#cookies p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

#newsletter {
  text-align: center;
}

#newsletter input[type="email"] {
  background: none;
  border: 1px solid grey;
  width: 50%;
  height: 21px;
}

#sub,
.accept,
.decline {
  background: transparent;
  border: 1px solid grey;
  height: 25px;
  color: white;
  font-family: "Montserrat";
}

#sub:hover {
  background-color: #03e9f4;
  color: black;
}

.accept {
  background-color: #03e9f4;
  color: black;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
}

/* Popup Ends */
/* Landing Page Begins */

#sidemenu {
  background: black;
}

#sidemenu-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidemenu-ul li a {
  text-decoration: none;
}

#sidemenu-title {
  position: fixed;
  right: 0%;
  top: 40%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background: black;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  height: 30%;
  color: #03e9f4;
  text-shadow: -2px -2px 2px #f40303;
  cursor: pointer;
}

#sidemenu-content {
  display: none;
  position: fixed;
  right: 3.5%;
  top: 40%;
  text-align: right;
  background: rgba(0, 0, 0, 0.75);
  height: 30%;
  width: 8%;
  padding: 20px;
  box-shadow: 5px 0px 0px #03e9f4;
  z-index: 1000;
}

.sidemenu-item {
  padding: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.sidemenu-item:hover {
  background: #03e9f4;
  color: black;
  font-weight: 900;
  animation: neon 2s linear infinite;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#sidemenu-ul li.active {
  background: #03e9f4;
  font-weight: 900;
  color: black;
  animation: neon 2s linear infinite;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#sidemenu-ul li a {
  color: #03e9f4;
}

#sidemenu-ul li.active a {
  color: black;
}

/* Header Starts */

header {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  position: absolute;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  background-color: rgba(0, 0, 0, 0.75);
}

header img {
  width: 25%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  opacity: 1;
  animation: header-img-animation 2s linear 1;
  animation-delay: 10s;
}

@keyframes header-img-animation {
  0%,
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  51%,
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  76%,
  99% {
    opacity: 1;
  }
}
*/ header ul {
  margin: 0;
}

header ul li {
  display: block;
  float: right;
  padding-right: 15px;
}

header a {
  font-family: "Orbitron";
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 5px;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    3px 3px 3px #f40303;
  /* text-shadow: 5px 5px 10px rgba(3, 233, 244, 1),
    -5px -5px 12px rgba(3, 233, 244, 1), 0px -5px 10px rgba(3, 233, 244, 1),
    0px 5px 10px rgba(3, 233, 244, 1);*/
}

header a:hover {
  color: black;
  /*
  background: #03e9f4;
  animation: neon 2s linear infinite;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
    */
}

@keyframes neon {
  0%,
  49% {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    background: #03e9f4;
  }
  50% {
    box-shadow: none;
    background: none;
  }
  55%,
  74% {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    background: #03e9f4;
  }
  75% {
    box-shadow: none;
    background: none;
  }
  76%,
  100% {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    background: #03e9f4;
  }
}

/* Landing Page */

.landing-section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  max-width: 100%;
}

#landing-page h1 {
  text-transform: uppercase;
  text-align: center;
}

#landing-page p {
  text-align: justify;
  text-align-last: center;
  hyphens: auto;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
  background: rgba(0, 0, 0, 0.75);
  width: 30%;
  position: relative;
  top: 30%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 40px;
}

#section1 {
  display: flex;
  top: 28%;
  right: 7%;
  margin: 0 auto;
  width: 50%;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

#section1-title {
  position: absolute;
  top: 20%;
  left: 15%;
  padding: 20px;
  padding-top: 10px;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  z-index: 100;
  font-family: "Equinox";
  font-size: 2.5em;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    3px 3px 3px #f40303;
}

#book-titles {
  font-weight: 300;
  width: 100%;
  margin-left: 8.5%;
}

#book-titles p {
  text-align: right;
  text-align-last: right;
  cursor: pointer;
  padding: 1%;
  margin: 0;
  width: 16vw;
}

#book-titles p:hover {
  background: #03e9f4;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1%;
  animation: neon 2s linear 1;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.active-title {
  background: #03e9f4;
  color: black;
  text-transform: uppercase !important;
  font-weight: 900;
  padding: 1%;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  animation: neon 2s linear 1;
}

#books {
  text-align: center;
}

#section-images {
  position: relative;
}

#section1-images img {
  margin-left: 10%;
  width: 80%;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.54);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  cursor: pointer;
}

.cover-image {
  position: absolute;
  opacity: 1;
  top: -45%;
  left: 35%;
  max-width: 50%;
  z-index: 200;
}

#blurb {
  z-index: 100;
  width: 17.5%;
  height: 50%;
  padding: 45px;
  padding-left: 60px;
  text-align: justify;
  hyphens: auto;
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  top: 18%;
  right: 10%;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.75);
  -webkit-user-select: none;
  user-select: none;
}

#blurb-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#blurb p {
  margin: 0 auto;
  text-align-last: left;
  font-size: 12px;
  hyphens: auto;
}

#blurb span {
  position: absolute;
  display: block;
}

#blurb span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 5s linear infinite;
}

#blurb span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 5s linear infinite;
  animation-delay: 1.25s;
}

#blurb span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 5s linear infinite;
  animation-delay: 2.5s;
}

#blurb span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 5s linear infinite;
  animation-delay: 3.75s;
}

#section2 {
  left: 20%;
}

/* Chapters Nav */

#book-reader {
  height: 100vh;
}

#chapternav {
  display: inline-block;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

#chapterlist {
  position: absolute;
  padding: 10%;
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#chapterlist::-webkit-scrollbar {
  display: none;
}

.chapter {
  text-align: center;
  width: 300px;
  height: 300px;
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.8s ease, border 0s;
  -moz-transition: all 0.8s ease, border 0s;
  -ms-transition: all 0.8s ease, border 0s;
  -o-transition: all 0.8s ease, border 0s;
  transition: all 0.8s ease, border 0s;
  cursor: pointer;
}

.chapter:hover {
  background-color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: black;
}

.active-chapter {
  background-color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  color: black;
}

.chaptertext {
  margin: 0;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chaptertext h1 {
  text-transform: uppercase;
  font-family: "Orbitron";
}

.chaptertext p {
  text-transform: lowercase;
  font-size: 1.5em;
  font-weight: 300;
}

/* Chapter Text Divs */

.fullchapter {
  margin: 200px;
  margin-left: 145px;
  margin-bottom: 0;
  margin-top: 0px;
  padding: 30px;
  padding-top: 0px;
  background: rgba(0, 0, 0, 0.75);
  width: calc(100vw - 220px);
  display: none;
  height: 82vh;
  position: absolute;
  top: 120px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.fullchapter h1,
.fullchapter h2 {
  text-align: center;
  padding: 10px;
  color: white;
}

.fullchapter h1 {
  font-family: "Orbitron";
  text-transform: uppercase;
}

.fullchapter h2 {
  font-family: "Montserrat";
  font-weight: 300;
  text-transform: lowercase;
}

.fullchapter p {
  font-family: "Montserrat";
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 30px;
  padding-bottom: 0;
}

footer {
  display: flex;
  height: 50vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

#footer-container {
  display: flex;
  border-radius: 2.5%;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  box-shadow: inset 0 0 5px #03e9f4, inset 0 0 25px #03e9f4,
    inset 0 0 50px #03e9f4, inset 0 0 100px #03e9f4, 0 0 5px #03e9f4,
    0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

/*
@keyframes footeranimation {
  0%,
  49% {
    box-shadow: inset 0 0 5px #03e9f4, inset 0 0 25px #03e9f4,
      inset 0 0 50px #03e9f4, inset 0 0 100px #03e9f4, 0 0 5px #03e9f4,
      0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }
  50% {
    box-shadow: none;
  }
  51%,
  74% {
    box-shadow: inset 0 0 5px #03e9f4, inset 0 0 25px #03e9f4,
      inset 0 0 50px #03e9f4, inset 0 0 100px #03e9f4, 0 0 5px #03e9f4,
      0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }
  75% {
    box-shadow: none;
  }
  76%,
  99% {
    box-shadow: inset 0 0 5px #03e9f4, inset 0 0 25px #03e9f4,
      inset 0 0 50px #03e9f4, inset 0 0 100px #03e9f4, 0 0 5px #03e9f4,
      0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }
} */

.footer-column {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px;
  padding-top: 6em;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-item {
  padding: 14px;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
}

footer a {
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 3px 3px 3px #f40303;
  text-decoration: none;
}

.footer-item:hover {
  background: #03e9f4;
  color: black;
  font-weight: 900;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.footer-item {
  text-align: center;
}

.footer-column img {
  width: 100%;
}

#contacts {
  width: 100%;
  color: #03e9f4;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 3px 3px 3px #f40303;
  font-size: 1.3em;
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
}

#contacts li {
  padding-bottom: 5px;
}

#contacts li i {
  padding-right: 10px;
}

/* Blog */

#blog {
  width: 100vw;
  height: 100vh;
  padding-top: 125px;
  display: grid;
  grid-template-columns: 90vw;
  grid-auto-rows: 120px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: 3px solid #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
}

.blogcard {
  text-align: center;
  padding: 25px;
  cursor: pointer;
}

#blog h1,
h2 {
  margin: 0;
}

.subtitle {
  color: white;
  text-decoration: none;
}

.postname {
  text-decoration: none;
}

.blogcard:hover h1 {
  color: black;
}

.blogpost-active h1 {
  color: black;
}

#blog h2 {
  text-transform: lowercase;
  font-weight: 300;
}
